In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
df = pd.read_csv("Employee_dataset.csv")
#1st five Rows :
df.head()

,Employee_ID,First_Name,Last_Name,Age,Department_Region,Status,Join_Date,Salary,Email,Phone,Performance_Score,Remote_Work
0,EMP1000,Bob,Davis,25.0,DevOps-California,Active,4/2/2021,59767.65,bob.davis@example.com,-1651623197,Average,True
1,EMP1001,Bob,Brown,NaN,Finance-Texas,Active,7/10/2020,65304.66,bob.brown@example.com,-1898471390,Excellent,True
2,EMP1002,Alice,Jones,NaN,Admin-Nevada,Pending,12/7/2023,88145.90,alice.jones@example.com,-5596363211,Good,True
3,EMP1003,Eva,Davis,25.0,Admin-Nevada,Inactive,11/27/2021,69450.99,eva.davis@example.com,-3476490784,Good,True
4,EMP1004,Frank,Williams,25.0,Cloud Tech-Florida,Active,1/5/2022,109324.61,frank.williams@example.com,-1586734256,Poor,False

In [4]:
#last 5 rows
df.tail()

,Employee_ID,First_Name,Last_Name,Age,Department_Region,Status,Join_Date,Salary,Email,Phone,Performance_Score,Remote_Work
1015,EMP2015,David,Miller,30.0,HR-California,Active,8/19/2023,NaN,david.miller@example.com,-3546212759,Good,True
1016,EMP2016,David,Johnson,30.0,Cloud Tech-Texas,Inactive,11/7/2021,100215.06,david.johnson@example.com,-2508261122,Good,True
1017,EMP2017,Charlie,Williams,40.0,Finance-New York,Active,10/4/2023,114587.11,charlie.williams@example.com,-1261632487,Average,False
1018,EMP2018,Alice,Garcia,30.0,HR-Florida,Inactive,12/16/2024,71318.79,alice.garcia@example.com,-8995729892,Good,True
1019,EMP2019,Heidi,Jones,30.0,DevOps-Illinois,Pending,2/22/2021,77764.24,heidi.jones@example.com,-7629745492,Average,False

In [5]:
print("Shape of the Dataset:")
df.shape

Shape of the Dataset:

(1020, 12)

In [6]:
print("Structure of the Data: ")
df.info

Structure of the Data:

<bound method DataFrame.info of      Employee_ID First_Name Last_Name   Age   Department_Region    Status  \
0        EMP1000        Bob     Davis  25.0   DevOps-California    Active
1        EMP1001        Bob     Brown   NaN       Finance-Texas    Active
2        EMP1002      Alice     Jones   NaN        Admin-Nevada   Pending
3        EMP1003        Eva     Davis  25.0        Admin-Nevada  Inactive
4        EMP1004      Frank  Williams  25.0  Cloud Tech-Florida    Active
...          ...        ...       ...   ...                 ...       ...
1015     EMP2015      David    Miller  30.0       HR-California    Active
1016     EMP2016      David   Johnson  30.0    Cloud Tech-Texas  Inactive
1017     EMP2017    Charlie  Williams  40.0    Finance-New York    Active
1018     EMP2018      Alice    Garcia  30.0          HR-Florida  Inactive
1019     EMP2019      Heidi     Jones  30.0     DevOps-Illinois   Pending

       Join_Date     Salary                         Email       Phone  \
0       4/2/2021   59767.65         bob.davis@example.com -1651623197
1      7/10/2020   65304.66         bob.brown@example.com -1898471390
2      12/7/2023   88145.90       alice.jones@example.com -5596363211
3     11/27/2021   69450.99         eva.davis@example.com -3476490784
4       1/5/2022  109324.61    frank.williams@example.com -1586734256
...          ...        ...                           ...         ...
1015   8/19/2023        NaN      david.miller@example.com -3546212759
1016   11/7/2021  100215.06     david.johnson@example.com -2508261122
1017   10/4/2023  114587.11  charlie.williams@example.com -1261632487
1018  12/16/2024   71318.79      alice.garcia@example.com -8995729892
1019   2/22/2021   77764.24       heidi.jones@example.com -7629745492

     Performance_Score  Remote_Work
0              Average         True
1            Excellent         True
2                 Good         True
3                 Good         True
4                 Poor        False
...                ...          ...
1015              Good         True
1016              Good         True
1017           Average        False
1018              Good         True
1019           Average        False

[1020 rows x 12 columns]>

In [7]:
#standardized Column Names
print(f"\n Updated Column Names :")
df.columns = (
    df.columns
    .str.lower()
    .str.strip()
)

df.columns

 Updated Column Names :

Index(['employee_id', 'first_name', 'last_name', 'age', 'department_region',
       'status', 'join_date', 'salary', 'email', 'phone', 'performance_score',
       'remote_work'],
      dtype='object')

In [8]:
print("Descriptive Statistics of Numerical Column")
df.describe()

Descriptive Statistics of Numerical Column

              age         salary         phone
count  809.000000     996.000000  1.020000e+03
mean    32.484549   85155.056396 -4.942253e+09
std      5.656860   19873.727918  2.817326e+09
min     25.000000   50047.320000 -9.994973e+09
25%     25.000000   68392.487500 -7.341992e+09
50%     30.000000   85547.870000 -4.943997e+09
75%     40.000000  100974.027500 -2.520391e+09
max     40.000000  119971.650000 -3.896086e+06

In [9]:
print("Datatypes of Each Column")
print(df.dtypes)

Datatypes of Each Column
employee_id           object
first_name            object
last_name             object
age                  float64
department_region     object
status                object
join_date             object
salary               float64
email                 object
phone                  int64
performance_score     object
remote_work             bool
dtype: object

In [10]:
missing_values = df.isnull().sum()
print("Missing Values for Each Column: ")
print(missing_values)

Missing Values for Each Column:
employee_id            0
first_name             0
last_name              0
age                  211
department_region      0
status                 0
join_date              0
salary                24
email                  0
phone                  0
performance_score      0
remote_work            0
dtype: int64

In [11]:
duplicates = df.duplicated().sum()
print("Duplicated Row Count :")
print(duplicates)

Duplicated Row Count :
0

In [12]:
#Handling Null Values  for Age And Salary Column
df['age']   = df['age'].fillna('NA')
df['salary']= df['salary'].fillna(df['salary'].mean())

In [13]:

df['salary'] = df['salary'].round(2)
df.head()

,employee_id,first_name,last_name,age,department_region,status,join_date,salary,email,phone,performance_score,remote_work
0,EMP1000,Bob,Davis,25.0,DevOps-California,Active,4/2/2021,59767.65,bob.davis@example.com,-1651623197,Average,True
1,EMP1001,Bob,Brown,NA,Finance-Texas,Active,7/10/2020,65304.66,bob.brown@example.com,-1898471390,Excellent,True
2,EMP1002,Alice,Jones,NA,Admin-Nevada,Pending,12/7/2023,88145.90,alice.jones@example.com,-5596363211,Good,True
3,EMP1003,Eva,Davis,25.0,Admin-Nevada,Inactive,11/27/2021,69450.99,eva.davis@example.com,-3476490784,Good,True
4,EMP1004,Frank,Williams,25.0,Cloud Tech-Florida,Active,1/5/2022,109324.61,frank.williams@example.com,-1586734256,Poor,False

In [14]:
df['employee_id'] = df['employee_id'].str.extract(r'(\d+)')

In [15]:
df.head()

,employee_id,first_name,last_name,age,department_region,status,join_date,salary,email,phone,performance_score,remote_work
0,1000,Bob,Davis,25.0,DevOps-California,Active,4/2/2021,59767.65,bob.davis@example.com,-1651623197,Average,True
1,1001,Bob,Brown,NA,Finance-Texas,Active,7/10/2020,65304.66,bob.brown@example.com,-1898471390,Excellent,True
2,1002,Alice,Jones,NA,Admin-Nevada,Pending,12/7/2023,88145.90,alice.jones@example.com,-5596363211,Good,True
3,1003,Eva,Davis,25.0,Admin-Nevada,Inactive,11/27/2021,69450.99,eva.davis@example.com,-3476490784,Good,True
4,1004,Frank,Williams,25.0,Cloud Tech-Florida,Active,1/5/2022,109324.61,frank.williams@example.com,-1586734256,Poor,False

In [16]:
df['first_name'] = (df['first_name'].str.strip() + ' ' + df['last_name'].str.strip()).str.strip()

In [18]:
df.rename(columns={"first_name": "full_name"}, inplace=True)

In [19]:
df.head()

,employee_id,full_name,last_name,age,department_region,status,join_date,salary,email,phone,performance_score,remote_work
0,1000,Bob Davis,Davis,25.0,DevOps-California,Active,4/2/2021,59767.65,bob.davis@example.com,-1651623197,Average,True
1,1001,Bob Brown,Brown,NA,Finance-Texas,Active,7/10/2020,65304.66,bob.brown@example.com,-1898471390,Excellent,True
2,1002,Alice Jones,Jones,NA,Admin-Nevada,Pending,12/7/2023,88145.90,alice.jones@example.com,-5596363211,Good,True
3,1003,Eva Davis,Davis,25.0,Admin-Nevada,Inactive,11/27/2021,69450.99,eva.davis@example.com,-3476490784,Good,True
4,1004,Frank Williams,Williams,25.0,Cloud Tech-Florida,Active,1/5/2022,109324.61,frank.williams@example.com,-1586734256,Poor,False

In [20]:
df[['department', 'region']] = df['department_region'].str.extract(r'^(.*?)-(.*)$')

In [21]:
df.head()

,employee_id,full_name,last_name,age,department_region,status,join_date,salary,email,phone,performance_score,remote_work,department,region
0,1000,Bob Davis,Davis,25.0,DevOps-California,Active,4/2/2021,59767.65,bob.davis@example.com,-1651623197,Average,True,DevOps,California
1,1001,Bob Brown,Brown,NA,Finance-Texas,Active,7/10/2020,65304.66,bob.brown@example.com,-1898471390,Excellent,True,Finance,Texas
2,1002,Alice Jones,Jones,NA,Admin-Nevada,Pending,12/7/2023,88145.90,alice.jones@example.com,-5596363211,Good,True,Admin,Nevada
3,1003,Eva Davis,Davis,25.0,Admin-Nevada,Inactive,11/27/2021,69450.99,eva.davis@example.com,-3476490784,Good,True,Admin,Nevada
4,1004,Frank Williams,Williams,25.0,Cloud Tech-Florida,Active,1/5/2022,109324.61,frank.williams@example.com,-1586734256,Poor,False,Cloud Tech,Florida

In [22]:
df['join_date'] = pd.to_datetime(df['join_date'], errors='coerce')

In [23]:
df['email_validation'] = df['email'].str.match(r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$')
df[['username','domain']] = df['email'].str.extract(r'^([a-zA-Z0-9._%+-]+)(@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,})$')
df.head()

,employee_id,full_name,last_name,age,department_region,status,join_date,salary,email,phone,performance_score,remote_work,department,region,email_validation,username,domain
0,1000,Bob Davis,Davis,25.0,DevOps-California,Active,2021-04-02,59767.65,bob.davis@example.com,-1651623197,Average,True,DevOps,California,True,bob.davis,@example.com
1,1001,Bob Brown,Brown,NA,Finance-Texas,Active,2020-07-10,65304.66,bob.brown@example.com,-1898471390,Excellent,True,Finance,Texas,True,bob.brown,@example.com
2,1002,Alice Jones,Jones,NA,Admin-Nevada,Pending,2023-12-07,88145.90,alice.jones@example.com,-5596363211,Good,True,Admin,Nevada,True,alice.jones,@example.com
3,1003,Eva Davis,Davis,25.0,Admin-Nevada,Inactive,2021-11-27,69450.99,eva.davis@example.com,-3476490784,Good,True,Admin,Nevada,True,eva.davis,@example.com
4,1004,Frank Williams,Williams,25.0,Cloud Tech-Florida,Active,2022-01-05,109324.61,frank.williams@example.com,-1586734256,Poor,False,Cloud Tech,Florida,True,frank.williams,@example.com

In [24]:
df['phone'] = df['phone'].astype(str).str.replace('-', '', regex=False)
df.head()

,employee_id,full_name,last_name,age,department_region,status,join_date,salary,email,phone,performance_score,remote_work,department,region,email_validation,username,domain
0,1000,Bob Davis,Davis,25.0,DevOps-California,Active,2021-04-02,59767.65,bob.davis@example.com,1651623197,Average,True,DevOps,California,True,bob.davis,@example.com
1,1001,Bob Brown,Brown,NA,Finance-Texas,Active,2020-07-10,65304.66,bob.brown@example.com,1898471390,Excellent,True,Finance,Texas,True,bob.brown,@example.com
2,1002,Alice Jones,Jones,NA,Admin-Nevada,Pending,2023-12-07,88145.90,alice.jones@example.com,5596363211,Good,True,Admin,Nevada,True,alice.jones,@example.com
3,1003,Eva Davis,Davis,25.0,Admin-Nevada,Inactive,2021-11-27,69450.99,eva.davis@example.com,3476490784,Good,True,Admin,Nevada,True,eva.davis,@example.com
4,1004,Frank Williams,Williams,25.0,Cloud Tech-Florida,Active,2022-01-05,109324.61,frank.williams@example.com,1586734256,Poor,False,Cloud Tech,Florida,True,frank.williams,@example.com

In [25]:
df.shape

(1020, 17)

In [26]:
df.drop(columns=[ "last_name", "department_region"], inplace=True)

In [27]:
df.shape

(1020, 15)

In [29]:
df.to_csv('cleaned_employee_data.csv', index=False)

In [28]:
df.head()

,employee_id,full_name,age,status,join_date,salary,email,phone,performance_score,remote_work,department,region,email_validation,username,domain
0,1000,Bob Davis,25.0,Active,2021-04-02,59767.65,bob.davis@example.com,1651623197,Average,True,DevOps,California,True,bob.davis,@example.com
1,1001,Bob Brown,NA,Active,2020-07-10,65304.66,bob.brown@example.com,1898471390,Excellent,True,Finance,Texas,True,bob.brown,@example.com
2,1002,Alice Jones,NA,Pending,2023-12-07,88145.90,alice.jones@example.com,5596363211,Good,True,Admin,Nevada,True,alice.jones,@example.com
3,1003,Eva Davis,25.0,Inactive,2021-11-27,69450.99,eva.davis@example.com,3476490784,Good,True,Admin,Nevada,True,eva.davis,@example.com
4,1004,Frank Williams,25.0,Active,2022-01-05,109324.61,frank.williams@example.com,1586734256,Poor,False,Cloud Tech,Florida,True,frank.williams,@example.com