In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [41]:
#reading Data
df = pd.read_csv("Global_Sales_Messy_Data.csv")
df

,Transaction_ID,Transaction_Date,Server_Timestamp,Store_Location,Sales_Amount,Currency
0,1000,03-09-2023,2023-09-03 02:00:00 +0000,ZÃ¼rich,257.52,EUR
1,1001,24-11-2023,2023-11-24 12:00:00 PST,SÃ£o Paulo,81.77,EUR
2,1002,21-06-2023,2023-06-21 05:00:00 +0000,Tokyo,326.06,USD
3,1003,13-11-2023,2023-11-13 16:00:00 EST,ZÃ¼rich,240.11,JPY
4,1004,28-07-2023,2023-07-28 06:00:00 +0530,MontrÃ©al,169.07,USD
...,...,...,...,...,...,...
995,1995,01-11-2023,01-11-2023 04:00,SÃ£o Paulo,120.65,EUR
996,1996,05/28/2023,2023-05-28 00:00:00 UTC,ZÃ¼rich,83.28,USD
997,1997,31-10-2023,2023-10-31 15:00:00 EST,MÃ¼nchen,100.28,EUR
998,1998,20-02-2023,2023-02-20 14:00:00 PST,ZÃ¼rich,389.86,GBP
999,1999,11-01-2023,2023-01-11 01:00:00 UTC,London,332.85,EUR

In [42]:
#first 5 rows
df.head()

,Transaction_ID,Transaction_Date,Server_Timestamp,Store_Location,Sales_Amount,Currency
0,1000,03-09-2023,2023-09-03 02:00:00 +0000,ZÃ¼rich,257.52,EUR
1,1001,24-11-2023,2023-11-24 12:00:00 PST,SÃ£o Paulo,81.77,EUR
2,1002,21-06-2023,2023-06-21 05:00:00 +0000,Tokyo,326.06,USD
3,1003,13-11-2023,2023-11-13 16:00:00 EST,ZÃ¼rich,240.11,JPY
4,1004,28-07-2023,2023-07-28 06:00:00 +0530,MontrÃ©al,169.07,USD

In [43]:
#last 5 rows
df.tail()

,Transaction_ID,Transaction_Date,Server_Timestamp,Store_Location,Sales_Amount,Currency
995,1995,01-11-2023,01-11-2023 04:00,SÃ£o Paulo,120.65,EUR
996,1996,05/28/2023,2023-05-28 00:00:00 UTC,ZÃ¼rich,83.28,USD
997,1997,31-10-2023,2023-10-31 15:00:00 EST,MÃ¼nchen,100.28,EUR
998,1998,20-02-2023,2023-02-20 14:00:00 PST,ZÃ¼rich,389.86,GBP
999,1999,11-01-2023,2023-01-11 01:00:00 UTC,London,332.85,EUR

In [44]:
#shape of dataset
print("Shape of Dataset")
df.shape

Shape of Dataset

(1000, 6)

In [45]:
#standardized Column Names
df.columns = (
    df.columns
        .str.lower()
        .str.strip())

df.columns

Index(['transaction_id', 'transaction_date', 'server_timestamp',
       'store_location', 'sales_amount', 'currency'],
      dtype='object')

In [46]:
#description of dataset
print("Descriptive Statistics of Numerical Column")
df.describe()

Descriptive Statistics of Numerical Column

       transaction_id  sales_amount
count     1000.000000   1000.000000
mean      1499.500000    252.897190
std        288.819436    145.134619
min       1000.000000     10.110000
25%       1249.750000    121.580000
50%       1499.500000    252.345000
75%       1749.250000    382.142500
max       1999.000000    499.980000

In [47]:
#Datatypes 
print("Datatypes of Each Column")
print(df.dtypes)

Datatypes of Each Column
transaction_id        int64
transaction_date     object
server_timestamp     object
store_location       object
sales_amount        float64
currency             object
dtype: object

In [48]:
#Null values count
missing_values = df.isnull().sum()
print("Missing Values for Each Column: ")
print(missing_values)

Missing Values for Each Column:
transaction_id      0
transaction_date    0
server_timestamp    0
store_location      0
sales_amount        0
currency            0
dtype: int64

In [49]:
#Duplicate Row Count
duplicates = df.duplicated().sum()
print("Duplicated Row Count :")
print(duplicates)

Duplicated Row Count :
0

In [50]:
#Encoding Character Errors
df['store_location'] = df['store_location'].str.encode('latin1').str.decode('utf-8')
df

,transaction_id,transaction_date,server_timestamp,store_location,sales_amount,currency
0,1000,03-09-2023,2023-09-03 02:00:00 +0000,Zürich,257.52,EUR
1,1001,24-11-2023,2023-11-24 12:00:00 PST,São Paulo,81.77,EUR
2,1002,21-06-2023,2023-06-21 05:00:00 +0000,Tokyo,326.06,USD
3,1003,13-11-2023,2023-11-13 16:00:00 EST,Zürich,240.11,JPY
4,1004,28-07-2023,2023-07-28 06:00:00 +0530,Montréal,169.07,USD
...,...,...,...,...,...,...
995,1995,01-11-2023,01-11-2023 04:00,São Paulo,120.65,EUR
996,1996,05/28/2023,2023-05-28 00:00:00 UTC,Zürich,83.28,USD
997,1997,31-10-2023,2023-10-31 15:00:00 EST,München,100.28,EUR
998,1998,20-02-2023,2023-02-20 14:00:00 PST,Zürich,389.86,GBP
999,1999,11-01-2023,2023-01-11 01:00:00 UTC,London,332.85,EUR

In [52]:
#correcting the Date Format
df['transaction_date'] = pd.to_datetime(df['transaction_date'], format='mixed', dayfirst=True)
df

,transaction_id,transaction_date,server_timestamp,store_location,sales_amount,currency
0,1000,2023-09-03,2023-09-03 02:00:00 +0000,Zürich,257.52,EUR
1,1001,2023-11-24,2023-11-24 12:00:00 PST,São Paulo,81.77,EUR
2,1002,2023-06-21,2023-06-21 05:00:00 +0000,Tokyo,326.06,USD
3,1003,2023-11-13,2023-11-13 16:00:00 EST,Zürich,240.11,JPY
4,1004,2023-07-28,2023-07-28 06:00:00 +0530,Montréal,169.07,USD
...,...,...,...,...,...,...
995,1995,2023-11-01,01-11-2023 04:00,São Paulo,120.65,EUR
996,1996,2023-05-28,2023-05-28 00:00:00 UTC,Zürich,83.28,USD
997,1997,2023-10-31,2023-10-31 15:00:00 EST,München,100.28,EUR
998,1998,2023-02-20,2023-02-20 14:00:00 PST,Zürich,389.86,GBP
999,1999,2023-01-11,2023-01-11 01:00:00 UTC,London,332.85,EUR

In [53]:
# Correcting the time with respect to UTC timezone
df["server_timestamp"] = (
    df["server_timestamp"]
    .astype(str)
    .str.replace("PST", "-08:00", regex=False)
    .str.replace("EST", "-05:00", regex=False)
    .str.replace("UTC", "+00:00", regex=False)
)

df["server_timestamp"] = pd.to_datetime(
    df["server_timestamp"],
    utc=True,
    format= 'mixed' ,
    errors="coerce"
)
df

,transaction_id,transaction_date,server_timestamp,store_location,sales_amount,currency
0,1000,2023-09-03,2023-09-03 02:00:00+00:00,Zürich,257.52,EUR
1,1001,2023-11-24,2023-11-24 20:00:00+00:00,São Paulo,81.77,EUR
2,1002,2023-06-21,2023-06-21 05:00:00+00:00,Tokyo,326.06,USD
3,1003,2023-11-13,2023-11-13 21:00:00+00:00,Zürich,240.11,JPY
4,1004,2023-07-28,2023-07-28 00:30:00+00:00,Montréal,169.07,USD
...,...,...,...,...,...,...
995,1995,2023-11-01,2023-01-11 04:00:00+00:00,São Paulo,120.65,EUR
996,1996,2023-05-28,2023-05-28 00:00:00+00:00,Zürich,83.28,USD
997,1997,2023-10-31,2023-10-31 20:00:00+00:00,München,100.28,EUR
998,1998,2023-02-20,2023-02-20 22:00:00+00:00,Zürich,389.86,GBP
999,1999,2023-01-11,2023-01-11 01:00:00+00:00,London,332.85,EUR

In [54]:
#naming time zone
df["server_timestamp"] = df["server_timestamp"].astype(str)
df["server_timestamp"] = df["server_timestamp"].str.replace("+00:00", " UTC", regex=False)
df

,transaction_id,transaction_date,server_timestamp,store_location,sales_amount,currency
0,1000,2023-09-03,2023-09-03 02:00:00 UTC,Zürich,257.52,EUR
1,1001,2023-11-24,2023-11-24 20:00:00 UTC,São Paulo,81.77,EUR
2,1002,2023-06-21,2023-06-21 05:00:00 UTC,Tokyo,326.06,USD
3,1003,2023-11-13,2023-11-13 21:00:00 UTC,Zürich,240.11,JPY
4,1004,2023-07-28,2023-07-28 00:30:00 UTC,Montréal,169.07,USD
...,...,...,...,...,...,...
995,1995,2023-11-01,2023-01-11 04:00:00 UTC,São Paulo,120.65,EUR
996,1996,2023-05-28,2023-05-28 00:00:00 UTC,Zürich,83.28,USD
997,1997,2023-10-31,2023-10-31 20:00:00 UTC,München,100.28,EUR
998,1998,2023-02-20,2023-02-20 22:00:00 UTC,Zürich,389.86,GBP
999,1999,2023-01-11,2023-01-11 01:00:00 UTC,London,332.85,EUR

In [55]:
%pip install pandas openpyxl

In [56]:
#exporting to excel file
df.to_excel('Cleaned_Global_Sales.xlsx', index=False)